
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Other files and folders ###
.php_cs_cache
.idea
.DS_store
docker-compose.yml
###< Other files and folders ###